<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>BetterIcon0</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BetterIcon0</string>
				</array>
			</dict>
			<key>BetterIcon1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BetterIcon1</string>
				</array>
			</dict>
			<key>BetterIcon2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BetterIcon2</string>
				</array>
			</dict>
			<key>BetterIcon3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BetterIcon3</string>
				</array>
			</dict>
			<key>BetterIcon4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BetterIcon4</string>
				</array>
			</dict>
			<key>BetterIcon5</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BetterIcon5</string>
				</array>
			</dict>
			<key>BetterIcon6</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BetterIcon6</string>
				</array>
			</dict>
			<key>BetterIcon7</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BetterIcon7</string>
				</array>
			</dict>
			<key>BetterIcon8</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BetterIcon8</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.danielhusiuk.Better-Calc</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bettercalc</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
